$darkGrey: #3a3a3a;
$dirtyWhite: #ebe9e9;
$normalGrey: #8f8e8e;
$accentBlue: #6496e2;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  color: $darkGrey;
  background: $dirtyWhite;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

$breakpoints: (
  "phone": 360px,
  "phoneXL": 460px,
  "tablet": 768px,
  "desktop": 1366px,
  "LGdesktop": 1920px,
) !default;

@mixin centerMargin {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@mixin media($conditions...) {
  @for $i from 1 through length($conditions) {
    $conditions: set-nth(
      $conditions,
      $i,
      parse-expression(nth($conditions, $i))
    );
  }

  $branches: get-query-branches($conditions);
  $query: "";

  @each $branch in $branches {
    @if (str-length($query) != 0) {
      $query: $query + ", ";
    }

    $query: $query + $branch;
  }

  @media #{$query} {
    @content;
  }
}
.fullPageWrapper {
  height: 100%&;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include centerMargin();
  height: 8vh;
  width: 100%;
}
.title {
  margin: 0;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  @include centerMargin();
}
.mainWrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 350px;
  width: 100%;
  min-height: 400px;
  height: 85vh;
}

footer {
  background: transparent;
  position: relative;
  width: 100%;
  height: 5vh;
  clear: both;
  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include centerMargin();
    width: 100%;
    height: 100%;
    a {
      svg {
        background-color: transparent;
        fill: transparent;
        stroke: $accentBlue;
        transform: scale(1.6);
        &:hover {
          fill: #ed8818;
        }
      }
    }
  }
}

@include media("<=710px") {
  footer {
    height: 1.2rem;
  }
}
